# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Testing & coverage caches
.pytest_cache/
.coverage

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db